In [1]:
first_naame = 'Al-amin'
last_name = 'Nababa'
full_name = first_naame + ' ' + last_name
country = 'Nigeria'
city = 'Abuja'
age = 21
year = 2024
is_married = False
course,career,org, = 'Automotive Engineering', 'Data Scientist', 'ArewaDS'

In [2]:
print('My name is %s and I am %d years old'%(full_name, age))

My name is Al-amin Nababa and I am 21 years old

In [3]:
sl_intro = '''I am %s I was born in %s %s
I am %d I am studiying %s and I am %s 
currently fellow of Deep Learning at %s'''%(full_name, city, country, age, course, career, org)
sl_intro

'I am Al-amin Nababa I was born in Abuja Nigeria\nI am 21 I am studiying Automotive Engineering and I am Data Scientist \ncurrently fellow of Deep Learning at ArewaDS'

In [4]:
sl_intro = """I am {} I was born in {} {} 
 I am {} years old I am studiying {} and I am {}
 currently fellow of deep learning at {}""".format(full_name, city, country, age, course, career, org)
sl_intro

'I am Al-amin Nababa I was born in Abuja Nigeria \n I am 21 years old I am studiying Automotive Engineering and I am Data Scientist\n currently fellow of deep learning at ArewaDS'

In [5]:
_n1 = 5
_n2 = 2
_add = 'Addition example: {} + {} = {}'.format(_n1, _n2, _n1+_n2)
_sub = 'Subtraction: {} - {} = {}'.format(_n1, _n2, _n1-_n2)
_mul = 'Multiplication: {} * {} = {}'.format(_n1, _n2, _n1*_n2)
_div = 'Division: {} / {} = {}'.format(_n1, _n2, _n1/_n2)
_fld = 'Floor Division: {} // {} = {}'.format(_n1, _n2, _n1//_n2)
_pwr = 'Square root: {} ** {} = {}'.format(_n1, _n2, _n1**_n2)
print(_add)
print(_sub)
print(_mul)
print(_mul)
print(_div)
print(_fld)
print(_pwr)

Addition example: 5 + 2 = 7
Subtraction: 5 - 2 = 3
Multiplication: 5 * 2 = 10
Multiplication: 5 * 2 = 10
Division: 5 / 2 = 2.5
Floor Division: 5 // 2 = 2
Square root: 5 ** 2 = 25

In [6]:
# string interpolatiion
_add = f'Addition example: {_n1} + {_n2} = {_n1 + _n2}'
_sub = f'Subtraction: {_n1} - {_n2} = {_n1 + _n2}'
_mul = f'Multiplication: {_n1} * {_n2} = {_n1 * _n2}'
_div = f'Division: {_n1} / {_n2} = {_n1 / _n2}'
_fld = f'Floor Division: {_n1} // {_n2} = {_n1 // _n2}'
_pwr = f'Square root: {_n1} ** {_n2} = {_n1 ** _n2}'
print(_add)
print(_sub)
print(_mul)
print(_mul)
print(_div)
print(_fld)
print(_pwr)

Addition example: 5 + 2 = 7
Subtraction: 5 - 2 = 7
Multiplication: 5 * 2 = 10
Multiplication: 5 * 2 = 10
Division: 5 / 2 = 2.5
Floor Division: 5 // 2 = 2
Square root: 5 ** 2 = 25

In [8]:
strn = 'Al-amin'
print(len(strn))

7

In [10]:
_1,_2,_3,_4,_5,_6,_7 = strn
print(_1,_2,_3,_4,_5,_6,_7)
print(_1)
print(_2)
print(_3)
print(_4)
print(_5)
print(_6)
print(_7)

A l - a m i n
A
l
-
a
m
i
n

In [17]:
last_index = len(strn)- 1
print(strn[last_index]) # last letter in Al-amin
print(strn[0]) # first letter in Al-amin
print(strn[-1]) # last character in "Al-amin"
print(strn[-2]) # second to the last character in "Al-amin"
print(strn[-3]) # third to the last character in "Al-amin"

n
A
n
i
m

In [3]:
'\u00BD'

'Â½'

In [24]:
# string slicing
first_three_c = strn[0:3] # start from zero (0) index to 3 but not icluding three (3) "Al-"
last_three_c = strn[4:7]
print(first_three_c)
print(last_three_c)
# in other way
print(strn[:3]) # first three characters
print(strn[4:]) # last three characters
# or
print(strn[-3:]) # last three characters

Al-
min
Al-
min
min

In [30]:
# reversing a string
print(strn[::-1]) # reverse the string "Al-amin"

nima-lA

In [36]:
# skipping character while slicing
print(strn[0:7:2])
# OR
print(strn[0:7:3])

A-mn
Aan

In [4]:
th, dy, _f, py = 'Thirty', ' Days', ' Of ', 'Python'
Thirty_Days_Of_Python = th + dy + _f + py
Thirty_Days_Of_Python

'Thirty Days Of Python'

In [6]:
cd, fr, al = 'Coding ', 'For ' , 'All'
Coding_For_All = cd + fr + al
Coding_For_All

'Coding For All'

In [11]:
var = 'company'
var

'company'

In [12]:
len(var)

7

In [13]:
var.upper()

'COMPANY'

In [14]:
var.lower()

'company'

In [15]:
# Use capitalize(), title(), swapcase() methods to format the value of the string Coding For All.
Coding_For_All.capitalize()

'Coding for all'

In [16]:
Coding_For_All.swapcase()

'cODING fOR aLL'

In [17]:
Coding_For_All.title()

'Coding For All'

In [18]:
Coding_For_All[0]

'C'

In [19]:
Coding_For_All[-1]

'l'