In [ ]:
# # sets
# it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
# A = {19, 22, 24, 20, 25, 26}
# B = {19, 22, 20, 25, 26, 24, 28, 27}
# age = [22, 19, 24, 25, 26, 24, 25, 24]
# Exercises: Level 1
# Find the length of the set it_companies
# Add 'Twitter' to it_companies
# Insert multiple IT companies at once to the set it_companies
# Remove one of the companies from the set it_companies
# What is the difference between remove and discard

In [17]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
len(it_companies)

7

In [14]:
it_companies.add('Twitter')
print(it_companies)

{'Microsoft', 'Oracle', 'Apple', 'Twitter', 'Amazon', 'Google', 'Facebook', 'IBM'}

In [18]:
it_companies.update('Facebook', 'Telegrsm', 'Microsoft')
print(it_companies)

{'Google', 'a', 'm', 's', 'Apple', 'M', 'i', 'c', 'k', 't', 'l', 'g', 'Microsoft', 'Oracle', 'Amazon', 'r', 'b', 'f', 'o', 'F', 'IBM', 'e', 'T', 'Facebook'}

In [19]:
it_companies.clear()

In [20]:
it_companies

set()

In [21]:
# Exercises: Level 2
# Join A and B
# Find A intersection B
# Is A subset of B
# Are A and B disjoint sets
# Join A with B and B with A
# What is the symmetric difference between A and B
# Delete the sets completely

In [22]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

A.union(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [23]:
A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [24]:
A.issubset(B)

True

In [27]:
A.isdisjoint(B), B.isdisjoint(A)

(False, False)

In [28]:
A.union(B), B.union(A)

({19, 20, 22, 24, 25, 26, 27, 28}, {19, 20, 22, 24, 25, 26, 27, 28})

In [29]:
A.difference(B)

set()

In [34]:
del B

In [ ]:
# Exercises: Level 3
# Convert the ages to a set and compare the length of the list and the set, which one is bigger?
# Explain the difference between the following data types: string, list, tuple and set
# I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [36]:
age = [22, 19, 24, 25, 26, 24, 25, 24]

age_set = set(age)
age_set

{19, 22, 24, 25, 26}

In [37]:
len(age), len(age_set)

(8, 5)

In [40]:
sentence = 'I am a teacher and I love to inspire and teach people'
sentence_splt = sentence.split()
sentence_splt

['I',
 'am',
 'a',
 'teacher',
 'and',
 'I',
 'love',
 'to',
 'inspire',
 'and',
 'teach',
 'people']

In [41]:
set(sentence_splt)

{'I', 'a', 'am', 'and', 'inspire', 'love', 'people', 'teach', 'teacher', 'to'}